<!DOCTYPE html>
<html lang="rus">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleMainPage.css' %}" />
    <link rel="shortcut icon" href="{% static 'assets/logo_title.ico' %}">
    <title>Xочу шашлык 39</title>
</head>

<body onload="initApp('{{meat_assortments_count}}', '{{shashlik_on_coal_count}}', '{{assortments_count}}',
               '{{shawerma_count}}', '{{spacings.SpacingBox2}}', '{{spacings.SpacingBox3}}', '{{spacings.SpacingBox4}}')">
    <!-- Introduction picture -->
    <div id="intro-section">
    <img id="intro-img" src="{% static 'assets/shashlik-intro.png' %}">
        <h1 id="intro-message">ХОЧУ ШАШЛЫК 39</h1>
        <h1 id="intro-message2">Вкуснейший шашлык, шаверма, люля-кебаб
       с доставкой по Калининграду</h1>
        <div id="intro-phone-holder">
            <a href="tel:+1 202-918-2132"><h1 id="intro-message3">+1 202-918-2132</h1></a>
        </div>
    </div>
    <!-- Shashlik na ugliach box -->
    {% if meat_assortments|length > 0 %}
    <div id="food-section-holder1">
        <h1 id="food-section1">Мясной набор</h1>
    </div>
    <div id="food-box1">
        <!-- For each Shashlik na ugliach display box with contents -->
        {% for food in meat_assortments %}
        <div id="food-card">
            <h1 id="food-name">{{ food.Name }}</h1>
            <div id="food-description-box">
                <h1 id="food-description">{{ food.Description }}</h1>
            </div>
            <h1 id="food-price">{{ food.Price }} руб</h1>
            <img id="food-image" src="media/{{ MEDIA_URL }}/{{ food.image }}" />
            <button onclick="setItemCookie('{{ food.Name }}', '{{ food.Description }}', '{{ food.Price }}', '{{ food.image }}', '{{ food.itemId }}')" id="food-button">в корзину</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Assorti box -->
    {% if shashlik_on_coal|length > 0 %}
    <div id="food-section-holder2">
        <h1 id="food-section2">Шашлык на углях</h1>
    </div>
    <div id="food-box2">
        <!-- For each Assorti display box with contents -->
        {% for food in shashlik_on_coal %}
        <div id="food-card">
            <h1 id="food-name">{{ food.Name }}</h1>
            <div id="food-description-box">
                <h1 id="food-description">{{ food.Description }}</h1>
            </div>
            <h1 id="food-price">{{ food.Price }} руб</h1>
            <img id="food-image" src="media/{{ MEDIA_URL }}/{{ food.image }}" />
            <button onclick="setItemCookie('{{ food.Name }}', '{{ food.Description }}', '{{ food.Price }}', '{{ food.image }}', '{{ food.itemId }}')" id="food-button">в корзину</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Miasnoi assorti box -->
    {% if assortments|length > 0 %}
    <div id="food-section-holder3">
        <h1 id="food-section3">Ассорти</h1>
    </div>
    <div id="food-box3">
        <!-- For each Miasnoi assorti display box with contents -->
        {% for food in assortments %}
        <div id="food-card">
            <h1 id="food-name">{{ food.Name }}</h1>
            <div id="food-description-box">
                <h1 id="food-description">{{ food.Description }}</h1>
            </div>
            <h1 id="food-price">{{ food.Price }} руб</h1>
            <img id="food-image" src="media/{{ MEDIA_URL }}/{{ food.image }}" />
            <button onclick="setItemCookie('{{ food.Name }}', '{{ food.Description }}', '{{ food.Price }}', '{{ food.image }}', '{{ food.itemId }}')" id="food-button">в корзину</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Shawerma box -->
    {% if shawerma|length > 0 %}
    <div id="food-section-holder4">
        <h1 id="food-section4">Шаверма</h1>
    </div>
    <div id="food-box4">
        <!-- For each Shawerma display box with contents -->
        {% for food in shawerma %}
        <div id="food-card">
            <h1 id="food-name">{{ food.Name }}</h1>
            <div id="food-description-box">
                <h1 id="food-description">{{ food.Description }}</h1>
            </div>
            <h1 id="food-price">{{ food.Price }} руб</h1>
            <img id="food-image" src="media/{{ MEDIA_URL }}/{{ food.image }}" />
            <button onclick="setItemCookie('{{ food.Name }}', '{{ food.Description }}', '{{ food.Price }}', '{{ food.image }}', '{{ food.itemId }}')" id="food-button">в корзину</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <!-- Information box -->
    <div id="information-box">
        <h1 id="information-title">Информация</h1>
        <h1 id="information1">Заказы принимаем ежедневно c 11:00 до 21:00</h1>
        <h1 id="information2">При заказе на сумму {{ costs.DeliveryCost }} р. доставка БЕСПЛАТНАЯ</h1>
    </div>
    <!-- Section choices -->
    <div id="choices">
        <button class="choice" id="choice1">Мясной набор</button>
        <button class="choice" id="choice2">Шашлык на углях</button>
        <button class="choice" id="choice3">Ассорти</button>
        <button class="choice" id="choice4">Шаверма</button>
        <button class="choice" id="choice5">О нас</button>
    </div>
    <!-- Animated phone -->
    <a href="tel:+1 202-918-2132"><div id="anim-phone">
        <img id="moving-phone" src="{% static 'assets/phone-texting.gif' %}">
    </div></a>
    <!-- Title and its contents -->
    <div class="title">
        <a href="https://www.google.com/maps/place/Severny+Island/@75.0555611,56.086892,6z/data=!3m1!4b1!4m6!3m5!1s0x44e50d7f6d2e3031:0xecc7fac831664c3!8m2!3d75.3846993!4d59.1723222!16zL20vMDM0cno3?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoASAFQAw%3D%3D">
            <h1 id="title-address">Wall street,<br> New York</h1>
        </a>
        <a href="tel:+1 202-918-2132">
            <h1 id="title-phone">+1 202-918-2132</h1>
        </a>
        <a href="https://www.instagram.com/instagram/">
            <h1 id="title-instlink">@instagram</h1>
        </a>
        <img src="{% static 'assets/instagram.png'%}" id="title-instagram">
        <img src="{% static 'assets/whatsapp.png'%}" id="title-whatsapp">
        <a href="/"><img src="{% static 'assets/logo_title.png' %}" id="title-icon"></a>
        <h1 id="title-cart-counter">0</h1>
        <a href="/cart">
            <img onmouseover="this.src='{% static 'assets/shop_cart_pressed.png' %}'"
                 onmouseout="this.src='{% static 'assets/shop_cart.png' %}'"
                 src="{% static 'assets/shop_cart.png' %}"
                 id="title-cart">
        </a>
    </div>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script type="text/javascript" src="{% static 'js/mainPage.js' %}">
</script>
</html>